.form-field__commentary {
     display: block;
     padding: 12px 16px;

     width: 100%;
     height: 120px;
     resize: none;

     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;
     color: $textColor;

     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     transition: $transitionBorder;
}
.form-field__commentary:focus,
.form-field__commentary:focus-within {
     border: 1px solid $buttonColor;
     outline: $buttonColor;
}

.form-field__commentary::placeholder {
     font-size: 12px;
     line-height: 14px;
     letter-spacing: 0.01em;

     color: rgba(117, 117, 117, 0.5);
}