.card {
     position: relative;
     overflow: hidden;
}

.card__text {
     position: absolute;
     padding: 63px 24px;
     top: 0;
     left: 0;

     width: 100%;
     height: 100%;

     font-size: 18px;
     line-height: 1.56;

     transform: translateY(100%);
     transition: $transitionTransform;

     color: $wightText;
     background-color: rgba(33, 150, 243, 0.9);
}
.card-set__link:hover .card__text,
.card-set__link:focus .card__text {
     transform: translateY(0);
}

.flax-container {
     display: flex;
     flex-wrap: wrap;
}

.card-set__link {
     text-decoration: none;
     width: 370px;
     margin-top: 0;
     margin-right: 0;

     transition: $transitionBoxShadow;
}
.card-set__link:hover,
.card-set__link:focus {
     display: block;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__content {
     padding: 20px 24px;
     border: 1px solid #eeeeee;
     border-top: none;
}
.card__title {
     font-size: 18px;
     line-height: 2;
     font-weight: 700;
     letter-spacing: 0.06em;
     color: $textTitleColor;
     margin-bottom: 4px;
     margin-top: 0;
}

.card__type {
     font-size: 16px;
     font-weight: 400;
     line-height: 1.9;
     letter-spacing: 0.03em;
     color: $textColor;
     margin-top: 0;
}