.activity__title {
     text-align: center;
     font-weight: 700;
     font-size: 36px;
     line-height: 1.2;
     color: $textColor;
     margin-top: 0;
     margin-bottom: 50px;
}

.activity__list {
     list-style: none;
     margin-top: 0;
     margin-bottom: 0;
     padding-bottom: 0;
     display: flex;
}

.activity__img-wrapper {
     position: relative;
}

.activity__text {
     position: absolute;
     bottom: 0;
     padding: 27px 15px;

     width: 100%;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     text-transform: uppercase;

     color: $wightText;
     background: rgba(47, 48, 58, 0.8);
}

.activity__item {
     margin-bottom: 0;
     padding-bottom: 0;
}

.activity__item:not(:nth-child(1n + 3)) {
     margin-right: 30px;
}